apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: adwait393/msaas-worker:v3
        env:
        - name: REDIS_HOST
          value: "redis"
        - name: REDIS_PORT
          value: "6379"
        - name: MINIO_HOST
          value: "minio-proj.minio-ns.svc.cluster.local:9000"
        - name: MINIO_ACCESS_KEY
          value: "193i3rUfuAZpj2RAwfuO"
        - name: MINIO_SECRET_KEY
          value: "zoewcjhzPIg9GlZBTUhUbF3aokeFCKCVQOHYtGb0"
        resources:
          requests:
            memory: "2Gi"
            cpu: "1000m"
